 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 986px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 25px auto 0 80px;
}

.u-section-1 .u-list-1 {
  width: 52px;
  margin: 17px auto 0 28px;
}

.u-section-1 .u-repeater-1 {
  min-height: 512px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-1 .u-icon-1 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 9px;
}

.u-section-1 .u-icon-2 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 9px;
}

.u-section-1 .u-icon-3 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 9px;
}

.u-section-1 .u-icon-4 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 9px;
}

.u-section-1 .u-icon-5 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 9px;
}

.u-section-1 .u-icon-6 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 9px;
}

.u-section-1 .u-icon-7 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 9px;
}

.u-section-1 .u-icon-8 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 9px;
}

.u-section-1 .u-icon-9 {
  width: 32px;
  height: 32px;
  background-image: none;
  margin: 0 auto;
  padding: 4px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 9px;
}

.u-section-1 .u-icon-10 {
  width: 32px;
  height: 32px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 7px;
}

.u-section-1 .u-text-2 {
  margin: -492px 810px 0 80px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 27px auto 0 79px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 25px 258px 0 79px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 27px 258px 0 79px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 27px 257px 0 80px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 27px 257px 0 80px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 28px 258px 0 79px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  margin: 27px 258px 0 79px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: 27px 257px 60px 80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-7 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-8 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-9 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-10 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-text-2 {
    margin-right: 690px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 137px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 470px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2420px;
}

.u-section-2 .u-shape-1 {
  width: 330px;
  height: 330px;
  margin: -17px auto 0 112px;
}

.u-section-2 .u-shape-2 {
  width: 319px;
  height: 319px;
  margin: -201px auto 0 212px;
}

.u-section-2 .u-image-1 {
  width: 275px;
  height: 275px;
  filter: brightness(0.9);
  background-image: url("hero-bg.jpg");
  background-position: 50% 50%;
  margin: -393px auto 0 23px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: -201px 891px 0 58px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 28px 648px 0 298px;
}

.u-section-2 .u-group-1 {
  width: 786px;
  min-height: 474px;
  margin: 125px auto 0 149px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  width: 800px;
  min-height: 478px;
  margin: -454px auto 0 170px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(199,192,191,1);
  font-size: 1.375rem;
  margin: 46px 551px 0 64px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 23px 523px 0 64px;
}

.u-section-2 .u-text-5 {
  margin: 20px 322px 0 64px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 20px auto 0 64px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-group-3 {
  width: 784px;
  min-height: 480px;
  margin: 149px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 800px;
  min-height: 478px;
  margin: 20px -40px -18px auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(199,192,191,1);
  font-size: 1.375rem;
  margin: 46px 581px 0 94px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 23px 553px 0 94px;
}

.u-section-2 .u-text-9 {
  margin: 20px 352px 0 94px;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: 20px auto 0 94px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-group-5 {
  width: 800px;
  min-height: 482px;
  margin: 149px auto 60px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-6 {
  width: 800px;
  min-height: 483px;
  margin: 24px -24px -25px auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(199,192,191,1);
  font-size: 1.375rem;
  margin: 46px 581px 0 94px;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 23px 553px 0 94px;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  margin: 20px auto 0 94px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 51px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 749px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 548px;
    margin-left: 198px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 529px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 438px;
    margin-left: 88px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 511px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 483px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 282px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 24px;
  }

  .u-section-2 .u-group-3 {
    width: 720px;
  }

  .u-section-2 .u-group-4 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 541px;
    margin-left: 54px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 513px;
    margin-left: 54px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 312px;
    margin-left: 54px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 54px;
  }

  .u-section-2 .u-group-5 {
    width: 720px;
  }

  .u-section-2 .u-group-6 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 541px;
    margin-left: 54px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 513px;
    margin-left: 54px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 349px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 346px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 395px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 367px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 166px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
  }

  .u-section-2 .u-group-4 {
    width: 540px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 415px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 387px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 186px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-group-5 {
    width: 540px;
  }

  .u-section-2 .u-group-6 {
    width: 540px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 415px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 387px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 21px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 149px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 146px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 195px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 167px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 215px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 187px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-group-5 {
    width: 340px;
  }

  .u-section-2 .u-group-6 {
    width: 340px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 215px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 187px;
  }
}